:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body {
    background-color: #bdc3c7;
    margin: 0;
}

.container {
    /* Configure the size of the container */
    min-height: 100vh;
    max-width: 730px;
    width: 100%;

    /* Position the container itself */
    position: relative;
    margin: 0 auto;

    /* Position child elements */
    display: flex;
    flex-direction: column;
    /* Center children horizontally */
    align-items: center;
    /* Push down vertically */
    justify-content: flex-end;
}

.todo-app {
    /* Determine dimensions */
    max-width: calc(100% - 20px);
    width: 100%;

    /* Color */
    background-color: #ecf0f1;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

    /* Position children*/
    display: flex;
    flex-direction: column;
    align-items: center;
}